/* Figma Styles of your File */
:root {
  /* Colors */
  /* Fonts */
  --32-bold-font-family: Lato-Bold, sans-serif;
  --32-bold-font-size: 32px;
  --32-bold-line-height: 20px;
  --32-bold-font-weight: 700;
  --32-bold-font-style: normal;
  --20-regular-font-family: Lato-Regular, sans-serif;
  --20-regular-font-size: 14px;
  --20-regular-line-height: 20px;
  --20-regular-font-weight: 400;
  --20-regular-font-style: normal;
  --12-regular-font-family: Lato-Regular, sans-serif;
  --12-regular-font-size: 12px;
  --12-regular-line-height: 20px;
  --12-regular-font-weight: 400;
  --12-regular-font-style: normal;
  --12-bold-font-family: Lato-Bold, sans-serif;
  --12-bold-font-size: 12px;
  --12-bold-line-height: 20px;
  --12-bold-font-weight: 700;
  --12-bold-font-style: normal;
  --20-bold-font-family: Lato-Bold, sans-serif;
  --20-bold-font-size: 20px;
  --20-bold-line-height: 20px;
  --20-bold-font-weight: 700;
  --20-bold-font-style: normal;
  --10-regular-font-family: Lato-Regular, sans-serif;
  --10-regular-font-size: 10px;
  --10-regular-line-height: 20px;
  --10-regular-font-weight: 400;
  --10-regular-font-style: normal;
  --14-bolduppercase-font-family: Lato-Bold, sans-serif;
  --14-bolduppercase-font-size: 14px;
  --14-bolduppercase-line-height: 20px;
  --14-bolduppercase-font-weight: 700;
  --14-bolduppercase-font-style: normal;
  --14regular20-font-family: Lato-Regular, sans-serif;
  --14regular20-font-size: 14px;
  --14regular20-line-height: 20px;
  --14regular20-font-weight: 400;
  --14regular20-font-style: normal;
  --14-mediumuppercase-font-family: Lato-Medium, sans-serif;
  --14-mediumuppercase-font-size: 14px;
  --14-mediumuppercase-line-height: 20px;
  --14-mediumuppercase-font-weight: 500;
  --14-mediumuppercase-font-style: normal;
  --14bold-font-family: Lato-Bold, sans-serif;
  --14bold-font-size: 14px;
  --14bold-line-height: 20px;
  --14bold-font-weight: 700;
  --14bold-font-style: normal;
  --16extra-bold-font-family: Lato-ExtraBold, sans-serif;
  --16extra-bold-font-size: 16px;
  --16extra-bold-line-height: 20px;
  --16extra-bold-font-weight: 800;
  --16extra-bold-font-style: normal;
  --32-boldupper-case-font-family: Lato-Bold, sans-serif;
  --32-boldupper-case-font-size: 32px;
  --32-boldupper-case-line-height: 50px;
  --32-boldupper-case-font-weight: 700;
  --32-boldupper-case-font-style: normal;
  --28medium-font-family: Lato-Medium, sans-serif;
  --28medium-font-size: 28px;
  --28medium-line-height: 50px;
  --28medium-font-weight: 500;
  --28medium-font-style: normal;
  --18-extra-bold-font-family: Lato-ExtraBold, sans-serif;
  --18-extra-bold-font-size: 18px;
  --18-extra-bold-line-height: 30px;
  --18-extra-bold-font-weight: 800;
  --18-extra-bold-font-style: normal;
  --8semi-bold-font-family: Inter-SemiBold, sans-serif;
  --8semi-bold-font-size: 8px;
  --8semi-bold-line-height: normal;
  --8semi-bold-font-weight: 600;
  --8semi-bold-font-style: normal;
  --16bold-font-family: Lato-Bold, sans-serif;
  --16bold-font-size: 16px;
  --16bold-line-height: 25px;
  --16bold-font-weight: 700;
  --16bold-font-style: normal;
  --14extra-bold-font-family: Lato-ExtraBold, sans-serif;
  --14extra-bold-font-size: 14px;
  --14extra-bold-line-height: 20px;
  --14extra-bold-font-weight: 800;
  --14extra-bold-font-style: normal;
  --24bolduppercase-font-family: Lato-Bold, sans-serif;
  --24bolduppercase-font-size: 24px;
  --24bolduppercase-line-height: 20px;
  --24bolduppercase-font-weight: 700;
  --24bolduppercase-font-style: normal;
  --20medium28-font-family: Lato-Medium, sans-serif;
  --20medium28-font-size: 20px;
  --20medium28-line-height: 28px;
  --20medium28-font-weight: 500;
  --20medium28-font-style: normal;
  --36extrabold-font-family: Lato-ExtraBold, sans-serif;
  --36extrabold-font-size: 36px;
  --36extrabold-line-height: 46px;
  --36extrabold-font-weight: 800;
  --36extrabold-font-style: normal;
  --28regular36-font-family: Lato-Regular, sans-serif;
  --28regular36-font-size: 28px;
  --28regular36-line-height: 36px;
  --28regular36-font-weight: 400;
  --28regular36-font-style: normal;
  --24extrabold46-font-family: Lato-ExtraBold, sans-serif;
  --24extrabold46-font-size: 24px;
  --24extrabold46-line-height: 46px;
  --24extrabold46-font-weight: 800;
  --24extrabold46-font-style: normal;
  --18regular36-font-family: Lato-Regular, sans-serif;
  --18regular36-font-size: 18px;
  --18regular36-line-height: 36px;
  --18regular36-font-weight: 400;
  --18regular36-font-style: normal;
  --16regular-font-family: Lato-Regular, sans-serif;
  --16regular-font-size: 16px;
  --16regular-line-height: 20px;
  --16regular-font-weight: 400;
  --16regular-font-style: normal;
  --22bold-font-family: Lato-Bold, sans-serif;
  --22bold-font-size: 22px;
  --22bold-line-height: 20px;
  --22bold-font-weight: 700;
  --22bold-font-style: normal;
  --16bold-font-family: Lato-ExtraBold, sans-serif;
  --16bold-font-size: 16px;
  --16bold-line-height: 20px;
  --16bold-font-weight: 800;
  --16bold-font-style: normal;
  --22extrabolduppercase-font-family: Lato-ExtraBold, sans-serif;
  --22extrabolduppercase-font-size: 22px;
  --22extrabolduppercase-line-height: normal;
  --22extrabolduppercase-font-weight: 800;
  --22extrabolduppercase-font-style: normal;
  --14bold32-font-family: Lato-Bold, sans-serif;
  --14bold32-font-size: 14px;
  --14bold32-line-height: 33.11px;
  --14bold32-font-weight: 700;
  --14bold32-font-style: normal;
  --12medium32-font-family: Lato-Medium, sans-serif;
  --12medium32-font-size: 12px;
  --12medium32-line-height: 32px;
  --12medium32-font-weight: 500;
  --12medium32-font-style: normal;
  --14medium-font-family: Lato-Medium, sans-serif;
  --14medium-font-size: 14px;
  --14medium-line-height: 20px;
  --14medium-font-weight: 500;
  --14medium-font-style: normal;
  --14regular28-font-family: Lato-Regular, sans-serif;
  --14regular28-font-size: 14px;
  --14regular28-line-height: 28px;
  --14regular28-font-weight: 400;
  --14regular28-font-style: normal;
  --12semibold-font-family: Lato-SemiBold, sans-serif;
  --12semibold-font-size: 12px;
  --12semibold-line-height: 35px;
  --12semibold-font-weight: 600;
  --12semibold-font-style: normal;
  --12regular23-font-family: Lato-Regular, sans-serif;
  --12regular23-font-size: 12px;
  --12regular23-line-height: 23px;
  --12regular23-font-weight: 400;
  --12regular23-font-style: normal;
  --16semibold-font-family: Lato-SemiBold, sans-serif;
  --16semibold-font-size: 16px;
  --16semibold-line-height: 34.12px;
  --16semibold-font-weight: 600;
  --16semibold-font-style: normal;
  --24regular-font-family: Lato-Regular, sans-serif;
  --24regular-font-size: 24px;
  --24regular-line-height: normal;
  --24regular-font-weight: 400;
  --24regular-font-style: normal;
  --16semibold-font-family: Lato-Regular, sans-serif;
  --16semibold-font-size: 16px;
  --16semibold-line-height: 25px;
  --16semibold-font-weight: 400;
  --16semibold-font-style: normal;
  --16regular25-font-family: Lato-Regular, sans-serif;
  --16regular25-font-size: 16px;
  --16regular25-line-height: 25px;
  --16regular25-font-weight: 400;
  --16regular25-font-style: normal;
  --38-bold-font-family: Lato-Bold, sans-serif;
  --38-bold-font-size: 38px;
  --38-bold-line-height: 24.35px;
  --38-bold-font-weight: 700;
  --38-bold-font-style: normal;
  --28medium-font-family: Lato-Medium, sans-serif;
  --28medium-font-size: 28px;
  --28medium-line-height: 20px;
  --28medium-font-weight: 500;
  --28medium-font-style: normal;
  --28-bold-font-family: Lato-ExtraBold, sans-serif;
  --28-bold-font-size: 28px;
  --28-bold-line-height: normal;
  --28-bold-font-weight: 800;
  --28-bold-font-style: normal;
  --40-extra-bold-font-family: Lato-ExtraBold, sans-serif;
  --40-extra-bold-font-size: 40px;
  --40-extra-bold-line-height: 56px;
  --40-extra-bold-font-weight: 800;
  --40-extra-bold-font-style: normal;
  --16-regular-uppercase-font-family: Lato-Regular, sans-serif;
  --16-regular-uppercase-font-size: 16px;
  --16-regular-uppercase-line-height: 24px;
  --16-regular-uppercase-font-weight: 400;
  --16-regular-uppercase-font-style: normal;
  --12bolduppercase-font-family: Lato-Bold, sans-serif;
  --12bolduppercase-font-size: 12px;
  --12bolduppercase-line-height: 15px;
  --12bolduppercase-font-weight: 700;
  --12bolduppercase-font-style: normal;
  --10regularuppercase-font-family: Lato-Regular, sans-serif;
  --10regularuppercase-font-size: 10px;
  --10regularuppercase-line-height: 18px;
  --10regularuppercase-font-weight: 400;
  --10regularuppercase-font-style: normal;
  --24extra-bold-font-family: Lato-ExtraBold, sans-serif;
  --24extra-bold-font-size: 24px;
  --24extra-bold-line-height: 32px;
  --24extra-bold-font-weight: 800;
  --24extra-bold-font-style: normal;
  --16regular30-font-family: Lato-Regular, sans-serif;
  --16regular30-font-size: 16px;
  --16regular30-line-height: 30px;
  --16regular30-font-weight: 400;
  --16regular30-font-style: normal;
  --20bolduppercase-font-family: Lato-Bold, sans-serif;
  --20bolduppercase-font-size: 20px;
  --20bolduppercase-line-height: 32px;
  --20bolduppercase-font-weight: 700;
  --20bolduppercase-font-style: normal;
  --12semibold16-font-family: Lato-SemiBold, sans-serif;
  --12semibold16-font-size: 12px;
  --12semibold16-line-height: 16px;
  --12semibold16-font-weight: 600;
  --12semibold16-font-style: normal;
  --10regular16-font-family: Lato-Regular, sans-serif;
  --10regular16-font-size: 10px;
  --10regular16-line-height: 16px;
  --10regular16-font-weight: 400;
  --10regular16-font-style: normal;
  --46semibold-font-family: Lato-SemiBold, sans-serif;
  --46semibold-font-size: 46px;
  --46semibold-line-height: normal;
  --46semibold-font-weight: 600;
  --46semibold-font-style: normal;
  --14medium16-font-family: Lato-SemiBold, sans-serif;
  --14medium16-font-size: 14px;
  --14medium16-line-height: 16px;
  --14medium16-font-weight: 600;
  --14medium16-font-style: normal;
  --36semibold-font-family: Lato-SemiBold, sans-serif;
  --36semibold-font-size: 36px;
  --36semibold-line-height: 46px;
  --36semibold-font-weight: 600;
  --36semibold-font-style: normal;
  --14semibold-font-family: Lato-SemiBold, sans-serif;
  --14semibold-font-size: 14px;
  --14semibold-line-height: 20px;
  --14semibold-font-weight: 600;
  --14semibold-font-style: normal;

  /* Effects */
}
/* Figma Color Variables of your File */
:root,
[data-primitives-mode="mode-1"] {
  /* mode-1 */
  --color-blue-blue-50: #ffffff;
  --color-blue-blue-100: #bfddff;
  --color-blue-blue-200: #96c9ff;
  --color-blue-blue-300: #6eb3ff;
  --color-blue-blue-400: #55a2ff;
  --color-blue-blue-500: #4592ff;
  --color-blue-blue-600: #4484f0;
  --color-blue-blue-700: #4172dc;
  --color-blue-blue-800: #3e60c9;
  --color-blue-blue-900: #3840a9;
  --color-gray-gray-800: #262626;
  --color-gray-gray-700: #434343;
  --color-gray-gray-600: #555555;
  --color-gray-gray-500: #7b7b7b;
  --color-gray-gray-400: #9d9d9d;
  --color-gray-gray-300: #c4c4c4;
  --color-gray-gray-200: #d9d9d9;
  --color-gray-gray-100: #e9e9e9;
  --color-gray-gray-50: #f5f5f5;
  --color-base-white: #ffffff;
  --color-base-black: #000000;
  --color-green-green-50: #e5f7ec;
  --color-green-green-100: #c0ead1;
  --color-green-green-200: #97dcb3;
  --color-green-green-300: #68cf95;
  --color-green-green-400: #3dc47e;
  --color-green-green-500: #00b967;
  --color-green-green-600: #00a95d;
  --color-green-green-700: #009750;
  --color-green-green-800: #008644;
  --color-green-green-900: #00662f;
  --color-color-tritarry-red-off: #ff2e00;
  --color-color-tritarry-selected: #ff7a00;
  --color-color-tritarry-yellow: #ffc000;
  --color-footer-blue-50: #eaf3fb;
  --color-footer-blue-100: #d1e2eb;
  --color-footer-blue-200: #b8ceda;
  --color-footer-blue-300: #9db8c9;
  --color-footer-blue-400: #88a7b9;
  --color-footer-blue-500: #7296ab;
  --color-footer-blue-600: #658699;
  --color-footer-blue-700: #557181;
  --color-footer-blue-800: #465d6b;
  --color-footer-blue-900: #344752;
  --color-card5: #f7ddd0;
}

:root,
[data-token-mode="mode-1"] {
  /* mode-1 */
  --background-color-white: var(--color-base-white);
  --background-color-gray: var(--color-gray-gray-800);
  --text-color-light-primary-text: var(--color-gray-gray-800);
  --text-color-light-secondary-text: var(--color-gray-gray-600);
  --text-color-light-tritary-text: var(--color-gray-gray-400);
  --background-color-footer: var(--color-footer-blue-100);
  --text-color-dark-text-secondary: var(--color-gray-gray-300);
  --tag-and-notif-tag: var(--color-green-green-600);
  --tag-and-notif-card-perchase: var(--color-green-green-400);
  --text-color-light-text-selected-category: var(
    --color-color-tritarry-selected
  );
  --text-color-dark-text-primary: var(--color-base-white);
  --text-color-inside-inside: var(--color-base-white);
  --icon-color-gray: var(--color-gray-gray-300);
  --icon-color-white: var(--color-base-white);
  --button-default: var(--color-blue-blue-700);
  --button-stroke-stroke: var(--color-gray-gray-200);
  --icon-color-gray-dark: var(--color-gray-gray-700);
  --text-color-light-text-off-proces: var(--color-color-tritarry-red-off);
  --tag-and-notif-off-tag: var(--color-color-tritarry-red-off);
  --text-color-light-text-white-color: var(--color-base-white);
  --button-card-background-hover: var(--color-gray-gray-500);
  --button-stroke-card-stroke-hover: var(--color-gray-gray-500);
  --button-stroke-cartd-stroke-pressed: var(--color-gray-gray-700);
  --button-card-background-pressed: var(--color-gray-gray-700);
  --button-stroke-card-stroke-disabled: var(--color-gray-gray-300);
  --button-card-background-disabled: var(--color-gray-gray-300);
  --icon-color-star-color: var(--color-color-tritarry-yellow);
  --text-color-light-blue-400: var(--color-footer-blue-800);
  --background-color-send-email-frm: var(--color-footer-blue-500);
  --background-color-card5: var(--color-card5);
  --background-color-top-category: var(--color-gray-gray-100);
  --icon-color-secondary: var(--color-gray-gray-500);
  --background-color-color: var(--color-gray-gray-50);
  --button-stroke-error: var(--color-color-tritarry-red-off);
}
